body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --bg-primary: #f1f4f6;
  --bg-secondary: #ebf0f2;
  --bg-header: #eef3f5;
  --main-color: #3a5bd7;
  --danger-color: #ab2a19;
  --winning-color: #275405;
  --bg-bet: #170a1c;
  --color-text: #f2c14a;
}
